Here I'll be exploring the dataset based on the users tagged in certain posts. Working with this spin-off of the original dataset, see how easy it is to predict whether or not a certain tagged profile and thus inclusion in that post means it is more or less likely to receive more engagements. 

## Need to find how to include t.snell for instance... not @stephencurry30..., just the digits no elipsis?

# In the block below, the remainder of this notebook are condensed into a single function.

In [6]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt

import seaborn as sns
sns.set_style('darkgrid')
sns.set_palette('husl')
%matplotlib inline

In [7]:
def make_num(z):
    """
    Helper function for  the scraping tool. The result of a follower pull is 
    
    "35m followers", which this function will convert into 35 
    
    Parameters
    ----------
    
    z : str
        The follower count, given as "46m followers"
        
    Returns
    -------
    
    num : float
        The converted number, or 4.6e6. 
        
        Note this may occasionally return NaN, which means the account tagged was not actually found. 
    
    """
    
    import re
    from numpy import nan
    if type(z) == type(nan):
        return
    
    z = z.split()[0] #not the followers part
    z = z.replace(',','')
    num = re.split(r'[a-z]*',z)[0]
    
    order = "".join(re.findall(r'[a-z]*',z))
    if order == 'm':
        num = float(num) * 1e6
    if order == 'k':
        num = float(num) * 1e3
    else:
        num = float(num)
    
   # print("Followers = ", num)
    return num

def get_followers(z,driver):
    """
    Obtains follower count for profile in profile df. 
    
    Parameters
    ----------
    
    z : str
        The account name, done via an apply statement. 
        
    driver : WebDriver
        Selenium webdriver object, used to naviagate to the URL of each account, and then grab the corresponding
        followers. 
        
    Returns 
    -------
    
    followers : float
        The number of followers of that particular user. 

    """
    
    from time import sleep
    from random import randint
    z = z.replace('@','')
    url =  driver.get("https://www.instagram.com/"+ z + "/?hl=en")
    sleep(randint(1,3))
    hrefs_in_view = driver.find_elements_by_tag_name('a')
    
    #this gives the link that has the attached follower number. 
    for elem in hrefs_in_view:
        if elem.get_attribute('href') ==  "https://www.instagram.com/accounts/login/?next=%2F"+z+"%2Ffollowers%2F&source=followed_by_list": #'https://www.instagram.com/'+z+'/followers/':
            
            followers = make_num(elem.text)
            
            return followers
              
def load_tagged_profiles(instas):
    """
    
    Creates a dataset summarizing the instagram accounts tagged in the post. 
    The columns used are a temporary list, and this line will be finalized once it is. 
    
    
    Parameters
    ----------
    
    instas : df
        Dataframe of the instagram posts, their associated information + output of engagements
        
        
    Returns
    -------
    
    
    profile_df : df
    
        Dataframe of the profiles tagged in any or multiple posts. 
        
    """
    
    #use regular expression to obtain any time a name is used, find all
    import re
    posts = " ".join(instas['Description'].unique()).lower() #combine into a corpus, isolating each tag. 
    tagged_profiles = list( dict.fromkeys(re.findall('@[a-z_0-9]*\.?[a-z_0-9]*?',posts)) ) 
    tagged_profiles = [s.replace('.','') if s[-1] == '.' else s for s in tagged_profiles]
    d = []
    instas['Description'] = instas['Description'].str.lower()
    for account in tagged_profiles:
        if account[-1] == '.':
            account = account[:-1] #remove the period accidentally taken at the end. 
        posts_w_account = instas.loc[instas['Description'].str.contains(account)]
        max_eng = posts_w_account.Engagements.max()
        tot_eng = posts_w_account.Engagements.sum()
        n_posts = posts_w_account.Engagements.count()
        min_eng = posts_w_account.Engagements.min()
        avg_eng = posts_w_account.Engagements.mean()
        d.append({'profile': account, 'max_eng': max_eng,'tot_eng' : tot_eng, 
                 'n_posts' : n_posts, 'min_eng' : min_eng, 'avg_eng' : avg_eng})
   
    profile_df = pd.DataFrame(d)
    profile_df.drop_duplicates(inplace=True)

    #but we're not done, can also establish how popular these accounts are, doing it based on follower count. 
   # from selenium import webdriver
   # driver = webdriver.Chrome('/Users/noahkasmanoff/Desktop/chromedriver') #open up chrome/spotify
   # profile_df['followers']  = profile_df['profile'].apply(lambda z: get_followers(z,driver))
   # driver.close()
    return profile_df

instas = pd.read_csv('Business Analytics/training_set.csv',encoding = 'unicode_escape')

#instas.dropna(inplace=True)

In [9]:
instas.fillna('',inplace=True)

In [10]:
instas

,Engagements,Followers at Posting,Created,Type,Description
0,502093,36984682,2019-05-21 23:30:51 EDT,Video,The @raptors bench trio of @sergeibaka @norman...
1,603380,36984682,2019-05-21 22:53:33 EDT,Video,@kyle_lowry7 pulls from deep for the @raptors ...
2,603380,36984682,2019-05-21 22:19:58 EDT,Video,@k_mid22 with some english on the @bucks dime!
3,725100,36984682,2019-05-21 22:02:41 EDT,Video,Kawhi punches it home with the left on TNT!
4,661446,36984682,2019-05-21 20:47:49 EDT,Video,@giannis_an34 goes baseline early to rock the ...
5,322444,36955156,2019-05-21 14:02:32 EDT,Photo,Congrats to the 2018-19 NBA All-Rookie First T...
6,722540,36955156,2019-05-21 12:30:53 EDT,Video,The @warriors locked in for four games to adva...
7,339265,36955156,2019-05-21 08:59:02 EDT,Photo,Will the @bucks take a commanding 3-1 lead... ...
8,443330,36955156,2019-05-21 00:48:16 EDT,Photo,TAP to SHOP the @warriors Western Conference C...
9,652193,36955156,2019-05-21 00:38:18 EDT,Video,Hey @stephencurry30... that was the first time...
10,652193,36955156,2019-05-21 00:31:13 EDT,Video,@stephencurry30 (37/13/11) & @money23green (18...
11,443330,36955156,2019-05-21 00:24:13 EDT,Photo,The @warriors defeat @trailblazers 119-117 to ...
12,713427,36955156,2019-05-21 00:21:06 EDT,Video,@money23green (18/14/11) reacts to a 5th strai...
13,470233,36955156,2019-05-20 23:54:39 EDT,Photo,The @warriors win the West & advance to their ...
14,675091,36955156,2019-05-20 23:45:36 EDT,Video,@money23green triple extends the @warriors lea...
15,443543,36955156,2019-05-20 23:33:24 EDT,Photo,@stephencurry30 & @money23green become the fir...
16,718485,36955156,2019-05-20 23:29:25 EDT,Video,?? @meyersleonard11! ?? (??: ESPN)
17,427347,36955156,2019-05-20 23:27:54 EDT,Photo,@money23green notches the triple-double for th...
18,696779,36955156,2019-05-20 23:24:11 EDT,Video,@stephencurry30 dime & hesi in the 4th on ESPN...
19,569271,36955156,2019-05-20 23:22:01 EDT,Photo,@stephencurry30 notches the triple-double for ...
20,603391,36955156,2019-05-20 22:40:42 EDT,Video,@damianlillard uses his dribble into the @trai...
21,603391,36955156,2019-05-20 22:33:01 EDT,Video,@meyersleonard11 puts up 25 in the first half ...
22,711819,36955156,2019-05-20 21:26:13 EDT,Video,@stephencurry30 tosses it up early on ESPN!
23,404760,36955156,2019-05-20 20:31:46 EDT,Photo,@money23green arrives for Game 4 of the Wester...
24,534517,36928789,2019-05-20 17:54:34 EDT,Video,In @budweiserusa #LegendaryMoments history.. w...
25,590945,36928789,2019-05-20 12:05:19 EDT,Video,@money23green showcases his ?? IQ on both ends...
26,354472,36928789,2019-05-20 10:07:04 EDT,Photo,Its WIN or Go Home for the @trailblazers... a...
27,412221,36928789,2019-05-20 00:45:16 EDT,Photo,The @raptors get on the board at home in the E...
28,646075,36928789,2019-05-19 23:09:33 EDT,Video,Kawhi on tonights gritty @raptors 2OT win wit...
29,708249,36928789,2019-05-19 22:49:10 EDT,Video,Kawhi Leonard scores 19 of his game-high 36 in...
...,...,...,...,...,...
7736,372879,24893189,2017-10-03 22:20:37 EDT,Photo,Just like at home growing up... Justin x Jrue!...
7737,372879,24893189,2017-10-03 22:17:08 EDT,Album,Back in action! #NBAPreseason
7738,664655,24893189,2017-10-03 21:27:43 EDT,Video,@cp3 notches his first dime and points for the...
7739,716117,24893189,2017-10-03 21:14:42 EDT,Video,?? @kporzee off the dribble for the @nyknicks!
7740,606308,24893189,2017-10-03 20:54:40 EDT,Video,@carmeloanthony & @ygtrece get on the board fo...
7741,372879,24893189,2017-10-03 18:58:31 EDT,Photo,They got NEXT. #NBARooks
7742,294008,24893189,2017-10-03 16:13:56 EDT,Photo,Tonights #NBAPreseason on @nbatv tripleheader!!
7743,614033,24893189,2017-10-03 13:19:29 EDT,Video,@realtristan13 signs off from todays @cavs pr...
7744,368624,24893189,2017-10-03 12:10:42 EDT,Photo,???? @isaiahthomas ???? #CavsAllAccess
7745,685118,24893189,2017-10-03 11:45:03 EDT,Video,The @cavs get loose... #CavsAllAccess
7746,768903,24893189,2017-10-03 10:37:41 EDT,Video,@kingjames & @dwyanewade gets shots up ahead o...
7747,341154,24893189,2017-10-03 09:38:29 EDT,Album,Early in the gym with @kingjames & @dwyanewade...
7748,681995,24893189,2017-10-03 01:22:22 EDT,Video,@kuzmakyle puts up 23 in his second #NBAPresea...
7749,826258,24893189,2017-10-03 01:03:20 EDT,Video,My first bucket! #NBAPreseason #ThisIsWhyWePlay
7750,721972,24885537,2017-10-02 23:40:10 EDT,Video,@jordanclarksons ?? @zo ?? #NBAPreseason
7751,606319,24885537,2017-10-02 23:13:38 EDT,Video,New @utahjazz teammates @ruuufio & @rudygobert...
7752,728631,24885537,2017-10-02 21:08:23 EDT,Video,@desmith4 got hops! #NBAPreseason
7753,373499,24885537,2017-10-02 20:20:36 EDT,Photo,????
7754,972546,24885537,2017-10-02 20:13:01 EDT,Video,@kyrieirving shows off the bounce for Boston! ...
7755,738244,24885537,2017-10-02 19:50:44 EDT,Video,@gdhayward and @kyrieirving are introduced in ...
7756,769381,24885537,2017-10-02 15:31:46 EDT,Video,The @warriors have arrived in Shenzhen for the...
7757,318910,24885537,2017-10-02 13:19:09 EDT,Photo,
7758,622136,24885537,2017-10-02 01:07:31 EDT,Video,@kyle_lowry7 and @demar_derozan combine for 28...
7759,333744,24875542,2017-10-01 23:01:06 EDT,Photo,The @minnesotalynx force a Winner Takes All Ga...
7760,649210,24875542,2017-10-01 22:30:08 EDT,Video,New @laclippers connect as @milosteodosic4 fee...
7761,891723,24875542,2017-10-01 19:38:26 EDT,Video,16 days from #KiaTipOff17... we showcase the @...
7762,599763,24875542,2017-10-01 13:31:04 EDT,Video,The @minnesotalynx look to force a Game 5... w...
7763,233101,24875542,2017-10-01 09:38:35 EDT,Album,Its OCTOBER and ?? is back! \n#NBAPreseason
7764,607667,24875542,2017-10-01 02:13:54 EDT,Video,"The newest @timberwolves.... @jimmybutler, @je..."
7765,730252,24875542,2017-10-01 00:54:29 EDT,Video,"@zo puts up 8 assists, 7 rebounds & 5 points i..."

In [4]:
profile_df = load_tagged_profiles(instas)

In [5]:
profile_df

           avg_eng  max_eng  min_eng  n_posts             profile    tot_eng
0    481730.119266   848228   198217      218            @raptors  105017166
1    541361.461538   848228   127816       13         @sergeibaka    7037699
2    633178.625000   723934   502093        8      @normanpowell4    5065429
3    601731.142857   696478   502093        7       @fredvanvleet    4212118
4    587078.422222   854893   280401       45        @kyle_lowry7   26418529
5    569430.888889   706452   154757        9            @k_mid22    5124878
6    487729.994898   810070   217833      196              @bucks   95595079
7    628804.266667   956368   253363      195       @giannis_an34  122616832
8    603939.379310   941443   304981       87         @lukadoncic   52542726
9    616215.732143   898784   287156       56          @traeyoung   34508081
10   570347.982323   909167   191794      396           @warriors  225857801
11   389966.894737   646783   236897       19           @nbastore    7409371
12   704252.303419  1129585   284105      234     @stephencurry30  164795039
13   497181.720000   851603   210915       75         @nbahistory   37288629
15   572974.926829   786669   292077       41       @money23green   23491972
16   483836.962963   792027   198217      189       @trailblazers   91445186
17   662085.333333   718485   597919        9    @meyersleonard11    5958768
18   623435.463415   887189   226758       82      @damianlillard   51121708
19   421140.384615   577007   283694       13       @budweiserusa    5474825
20   552426.721854   853541   239843      151          @nbaonespn   83416435
22   613607.500000   646075   581140        2      @kristenledlow    1227215
23   701177.500000   756280   646075        2    @reggiemillertnt    1402355
24   575421.894737   696784   127816       19          @pskills43   10933016
25   584748.006276   904413   204785      478           @nbaontnt  279509547
26   572136.000000   723842   326003       12          @marcgasol    6865632
27   434505.647059   718888   225247       17            @youtube    7386596
28   656624.333333   683063   626655        3     @zachcollins_33    1969873
29   657134.000000   767436   587922        6       @eneskanter11    3942804
30   441064.275862   683459   177134       29         @nbagleague   12790864
31   574712.272727   693473   359722       11          @sdotcurry    6321835
..             ...      ...      ...      ...                 ...        ...
803  706429.000000   706429   706429        1            @pmccaw0     706429
804  520887.000000   520887   520887        1      @imisiahthomas     520887
805  623678.500000   644990   602367        2            @fmason0    1247357
806  623134.000000   623134   623134        1         @enikonhart     623134
807  664765.500000   684447   645084        2            @35_fitz    1329531
808  722272.000000   722272   722272        1          @jdmccrary     722272
809  665879.000000   665879   665879        1           @flydre21     665879
810  583638.729167   854893   280401       48               @kyle   28014659
811  669873.666667   715741   639402        3        @courtneylee    2009621
812  309817.000000   309817   309817        1  @sportsillustrated     309817
814  639228.000000   639228   639228        1  @averybradleycamps     639228
815  583112.000000   583112   583112        1       @mikemancias1     583112
816  587922.000000   587922   587922        1    @realtracymorgan     587922
817  666270.500000   693255   639286        2           @waiters3    1332541
819  624441.000000   624441   624441        1           @illwil21     624441
820  592825.000000   592825   592825        1          @lesdogggg     592825
821  734385.400000   888792   639448        5           @unclejg8    3671927
822  704761.000000   738244   647619        3          @gdhayward    2114283
824  674301.000000   674301   674301        1   @malcolmbrogdon92     674301
825  714923.000000   714923   714923        1       @uabasketball     714923
826  608800.000000   608800   608800        1    @therealiceman44     608800
827  320763.000000   320763   320763        1            @yankees     320763
828  659015.000000   659015   659015        1             @mozg25     659015
829  711675.000000   711675   711675        1     @medinasyracuse     711675
831  847115.000000   847115   847115        1   @iam_jamesjohnson     847115
833  679353.000000   679353   679353        1       @winnieharlow     679353
835  664571.000000   664571   664571        1           @stanimal     664571
836  279233.000000   279233   279233        1       @rogerfederer     279233
837  619239.000000   619239   619239        1               @bazz     619239
839  607667.000000   607667   607667        1         @jeffteague     607667

[763 rows x 6 columns]

In [ ]:
profile_df[profile_df['profile'].duplicated(keep=False)].sort_values('profile')

# create a dataset of the profile, and use it to infer information to add back to the training set regarding that profile tagged in a post.

In [ ]:
profile_df.sort_values('n_posts')

So ignoring the faulty entries, the # of followers obeys some kind of distribution, which may be useful.

In [ ]:
profile_df = pd.read_csv('Business Analytics/tagged_profiles.csv')
profile_df.drop('std_eng',axis=1,inplace=True)

In [ ]:
profile_df.shape

In [ ]:
profile_df.dropna(inplace=True)

From https://www.adweek.com/digital/instagram-nba-players-teams-february-2017/, here's a list of stars and also most popular players. Perhaps this affects how many people view a post?

# Now clusters? 

Will elbow method help illuminate which users are stars and which aren't?

In [ ]:
profile_df.drop('tot_eng',axis=1,inplace=True)

In [ ]:
profile_df

In [ ]:
profile_df['followers'] = np.log10(profile_df['followers']+1)
profile_df['n_posts'] = np.log10(profile_df['n_posts']+1)

In [ ]:
sns.pairplot(profile_df)

In [ ]:
profile_df

In [ ]:
from sklearn.cluster import KMeans
from sklearn import preprocessing

x = profile_df.drop('profile',axis=1).values #returns a numpy array #removes missing followers (broken accounts)

min_max_scaler = preprocessing.MinMaxScaler()
x_scaled = min_max_scaler.fit_transform(x)
df = pd.DataFrame(x_scaled)

In [ ]:
distortions = []
K = range(1,10)
for k in K:
    kmeanModel = KMeans(n_clusters=k).fit(df[4].values.reshape(-1,1))
    distortions.append(kmeanModel.inertia_)

In [ ]:
plt.plot(K,distortions,'o-')

In [ ]:
kmeanModel = KMeans(n_clusters=4).fit(df[4].values.reshape(-1,1))

In [ ]:
kmeanModel.labels_

In [ ]:
profile_df.dropna(subset=['followers'],inplace=True)
profile_df['tempCluster'] = kmeanModel.labels_

In [ ]:
sns.pairplot(profile_df,hue='tempCluster',diag_kind='kde')

In [ ]:
profiles = profile_df[['profile','tempCluster']].copy()

In [ ]:
profiles = pd.get_dummies(profiles,columns=['tempCluster'])

In [ ]:
def apply_clusters_to_training(z,profiles):
    """Apply the clusters to the dataset, now in a form for prediction aligned with the other data. 
   
   """
    
    import re
    from numpy import zeros
    post_clusters = zeros(4)
    tags_in_z =  list( dict.fromkeys(re.findall('@[a-z_0-9]*',z)) ) 
    
    if len(tags_in_z) == 0:
        return post_clusters
    print(z)
    print(tags_in_z)
    for tag_in_z in tags_in_z:
        try:
            post_clusters = post_clusters + profiles[profiles['profile'] == tag_in_z].values[0][1:] 
        except: 
            pass
    return post_clusters

In [ ]:
instas = pd.read_csv('Business Analytics/training_set.csv',encoding = 'unicode_escape')

instas.dropna(inplace=True)

instas['tempClusters'] = instas['Description'].str.lower().apply(lambda z: apply_clusters_to_training(z,profiles))

In [ ]:
clusters = pd.DataFrame(instas.tempClusters.tolist(), columns=['profiles_nC1', 'profiles_nC2','profiles_nC3','profiles_nC4'])

In [ ]:
instas.merge(clusters,left_index=True,right_index=True).drop('tempClusters',axis=1)

In [ ]:
instas